---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 8
AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: true
ContinuationIndentWidth: 8
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: false
UseTab: ForIndentation
IndentCaseLabels: true
