---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 8
AlignAfterOpenBracket: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: NonAssignment
BreakStringLiterals: true
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
SortIncludes: false
SortIncludes: true
SpaceAfterCStyleCast: false
UseTab: ForIndentation
